# Editor files
*~
.*.swp

# Generated assembly files
*.s

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Generated binaries
3dfsb

# CMake and Make files
CMakeFiles/
autom4te.cache/
m4/
scripts/
utests/testgcal

CMakeCache.txt
Doxyfile
Makefile
Makefile.in
aclocal.m4
configure
config.h.in
config.status
libtool
stamp-h1

.*
*.o*
*.la*
*.lo*
*.pc*
*.so*

# Exclude only top-level *.cmake files
/*.cmake

# We provide custom cmake files in cmake/Modules
#cmake/
