[Desktop Entry]
Encoding=UTF-8
Name=Link to a website that should be opened in the default browser
Type=Link
URL=http://wwww.google.com/
Icon=text-html
